{% extends 'base.html' %}
{% block main %}

    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
    <a href="{% url 'adduser' %}" class="btn btn-primary">
        ➕ Add New
      </a>
    </div>
    <div class="mt-4">
   
        <table class="table table-bordered text-center align-middle">
            <thead style="background-color:#2a9db2; color:white;">
                <tr>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Designation</th>

                </tr>
            </thead>
            <tbody>
              {%for i in u_data%}
                <tr>
                    <td>{{i.username}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.phone}}</td>
                    <td>{{i.designation}}</td>
                </tr>
              {% endfor %}    
            </tbody>
        </table>
    </div>

{% endblock  %}